{% extends "layout.html" %}
{% block navbar %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">RMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
              <a class="nav-link" href="{{ url_for('customer_management')}}">Customer Management</a>
            </li>         -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('current_orders')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('manage_inventory')}}">Inventory</a>
            </li>   
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('restock')}}">Restock</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard')}}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Retailer Dashboard</h2>
    <p>Overview of sales, inventory, and customer interactions.</p>
    <div>
      <iframe title="Sale_Dashboard_RMS" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c155ad43-eb47-4d6f-b0ad-61d220ca117f&autoAuth=true&ctid=842e4e0e-1c63-4147-b5bc-2b8baed2f998" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
{% endblock %}
