{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Restock Inventory</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Current Stock</th>
                <th>Add Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in low_stock_products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <input type="number" name="add_stock" min="1" placeholder="Quantity">
                </td>
                <td>
                    <button class="btn btn-success">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
