<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
        Retail Management System
    {% endblock %}
  </title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- custom css  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="wrapper">
    {% block navbar %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('category') }}">SaKsHaM Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand">
            <img src="{{ url_for('static', filename='navbar_icons/location.png') }}" alt="location-logo" width="24" height="24">
            {{ address }}
          </a>
          <div class="justify-content-center mx-auto navbar-collapse flex-grow-0">
            <form method="get" action="/customer/product" class="">
              <div class="input-group">
                  <input type="text" name="query" style="width: 400px;" class="form-control me-2" placeholder="Search products..." value="{{ request.args.get('query', '') }}">
                  <button type="submit" class="btn btn-outline-success">Search</button>
              </div>
            </form>
          </div>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('category') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('order_history') }}">Order History</a>
              </li>
              <a class="navbar-brand" href="{{ url_for('cart') }}">
                <img src="{{ url_for('static', filename='navbar_icons/shopping-cart.png') }}" alt="cart-logo" width="30" height="24">
              </a>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% endblock navbar %}

    <!-- Main Content -->
    <main class="container mt-4 flex-grow-1">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-center py-3 mt-5">
      <div class="container">
        <span class="text-light">© Akshay & Samhita</span>
      </div>
    </footer>
  </div>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>