{% extends "layout.html" %}
{% block title %}Register - Retail Management System{% endblock %}


{% block navbar %}
{% endblock navbar%}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4">Register</h2>
    <form method="POST" action="{{ url_for('register') }}">
      <div class="mb-3">
        <label for="user_type">Register as:</label>
        <select name="user_type" id="user_type" onchange="toggleStoreName()" required>
          <option value="customer">Customer</option>
          <option value="retailer">Retailer</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="full_name" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter your full name" required>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Choose a username" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" name="address" id="address" rows="3" placeholder="Enter your address" required></textarea>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">mobile Number</label>
        <textarea class="form-control" name="mobile" id="mobile" rows="3" placeholder="Enter your Mobile number" required></textarea>
      </div>
      <div class="mb-3" id="store_name_field" style="display: none;">
        <label for="store_name" class="form-label">Store Name:</label>
        <input class="form-control" type="text" name="store_name" id="store_name">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
    <script>
      function toggleStoreName() {
          var userType = document.getElementById("user_type").value;
          var storeNameField = document.getElementById("store_name_field");
  
          if (userType === "retailer") {
              storeNameField.style.display = "block";
          } else {
              storeNameField.style.display = "none";
          }
      }
  </script>
{% endblock %}
